numpy
scipy
scikit-learn
pandas
matplotlib
ipython
jupyter
pandas
sympy
nose
flask
flatbuffers
pytest
Flask-Sockets
gevent>=24.10.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability